.u-section-1 {
  background-image: linear-gradient(#478ac9, #c0c0c0);
}

.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25rem;
  margin: 30px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 625px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 60px;
  }
}.u-section-2 {
  background-image: linear-gradient(#c0c0c0, #77aad9);
}

.u-section-2 .u-sheet-1 {
  min-height: 576px;
}

.u-section-2 .u-text-1 {
  width: 780px;
  font-weight: 700;
  margin: 88px auto 0;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 250px;
  height: auto;
  margin: 23px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 56px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 44px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-bottom: 44px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 398px;
    min-height: 492px;
    margin-left: -29px;
    margin-right: -29px;
  }
}.u-section-3 {
  background-image: linear-gradient(#77aad9, #e9f2fa);
}

.u-section-3 .u-sheet-1 {
  min-height: 521px;
}

.u-section-3 .u-text-1 {
  margin: 120px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.25rem;
  margin: 35px auto 0;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 13px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 96px;
  }

  .u-section-3 .u-btn-1 {
    align-self: center;
  }

  .u-section-3 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 15px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 20px;
    margin-right: -24px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 11px;
    margin-left: 24px;
    margin-right: 24px;
  }
}